@import "common";
%shadow{
  -webkit-box-shadow: 3px 0 10px rgba(130,130,130,.5); -moz-box-shadow: 3px 0 10px rgba(130,130,130,.5); box-shadow: 3px 0 10px rgba(130,130,130,.5);
}
$background:rgba(0,9,32,.5);
body{

  @include bg('bd_bg.jpg');
  @extend %bgc;
  background-attachment:fixed;
  background-position:center center;
  height:100%;
  height:2000px;
}

.header{
  width:100%;
  height:276px;
  @include bg('hd_bg.jpg');
  @extend %bgc;
  background-position:center center;
  margin:0 auto;
  position:relative;
  color:#fff;
  font-size:20px;
  .nav{
    background:rgba(0,9,32,.5);@include wh(1326,80);
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-1326/2+px;
    line-height:80px;
    h2{
      float:left;
      margin-left:35px;
    }
    .menu{
      float:right;
      li{
        float:left;
        margin:0 35px;
      }
      .curr{
        a{
          border-bottom:2px solid $color;
        }
      }
    }
    a{
      color:#fff;
      display:block;
      height:56px;
      &:hover{
        border-bottom:2px solid $color;
      }
    }
  }
}

.bd{
  width:1326px;
  margin:0 auto;
  overflow:hidden;
}
.wrap{
  float:left;
}
.left-wrap{ width:922px;}
.right-wrap{ width:1326-922-20+px;margin-left:20px;}
.box{
  background:#f3f1f0;
  @extend %shadow;
}
.me-top{
  @extend %cfx;
  height: 254px;
  overflow: hidden;
}
.dashboard{
  height:473px;
  .inner{
    padding:87px 80px 0;

    .me{ width:134px; text-align:center; float:left; padding-right:43px; border-right:1px solid #d1d4d5;}
    .header_img{
      @include wh(105,105);
      display:block;
      margin:13px auto 5px;
    }
    .name{ font-size:20px; font-weight:bold; margin-bottom:20px; color:#000; display:block;}
    .team{ color:#000;}
    .leave{
    }
  }
}
.leave{
  float:left; margin-left:168px;
  position:relative;
  width:180*2+px;
  height:180*2+px;
  @extend %cfx;
}
.run-board{
  position:absolute;
  width:100%;
  height:360px;
  z-index:9;
  top:0;
  left:0;
  .panel{
    width:50%;
    display:block;
    position:absolute;
    top:180-8px;
    left:0;
    transform-origin:100% 50%;
    i{
      display:block;
      width:35px;
      height:17px;

      @include bg('bg_l.png');

    }
  }
  @for $i from  1 through  21{
     .panel#{$i}.curr{
       i{
         background-image:url($imgRoot +"p"+ $i +".png");
       }
    }
}

}
.run-ball{
  width:240px;
  height:240px;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-240/2+px;

  margin-top:-240/2+px;

}
.circle{
  width:240px;
  height:240px;
  -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;
  background:#f3f1f0;
  border:4px solid #fff;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;

}
.ball{
  text-align:center;
  color:#000;
  font-size:12px;
  line-height:18px;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
  border:4px solid #fff;
  position:absolute;
  width:34px;
  height:34px;
  background:#f3f1f0;
  -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;
  margin-top:-17px;
  margin-left:-17px;
  top:120+21px;
  left:2px;
  z-index:9;
}
.cover{
  position:absolute;
  background:#f3f1f0;
  width:240px;
  height:120px;
  top:120+21px;
  left:0;

}
.score{
  position:absolute;
  text-align:center;
  width:360px;
  top:122px;
  p{
    font-size:56px;
  }
}
.curr_leave,.next_leave{
  position:absolute;
  left:0;
  top:223px;
  font-size:22px;
}
.curr_leave{ color:#79d2ca; left:0; margin-left:-20px;}
.next_leave{ color:#5f7bda; right:0; margin-right:-20px; text-align:right;}
.achivements{
  position:relative;
  h3{
    font-size:20px;
    line-height:24px;
    i{
      @include wh(3,14);
      background:$color;
      margin-right:10px;
      display:inline-block;
    }
  }
}
%icon{
  @include bg('sprite.png');

}
.ach-wrap{
  margin-top:30px;
  position:relative;
  @include wh(750,60);
}
.ach-slide-wrap{
@include wh(70*10,60);
  margin:0 auto;
  position:relative;
  overflow:hidden;
}
.ach-list{
  @extend %cfx;
position:relative;
  li{
    margin:0 10px;
    @include wh(50,41);
    float:left;
    text-align:center;
      position:relative;
    .icon{
      .arr{
        @include bg('arr.png');
        @include wh(39,20);
        position:absolute;
        top: 79px;
        left: 7px;
        display:none;
      }
      &:hover{
        .arr{ display:block;}
      }
    }
  }
}
.icon{
  @extend %icon;
  display:inline-block;
}
.ach1{
  @include wh(56,39);
  @include bgp(0,-21);
  &:hover{
    @include bgp(-65,-21);
  }
}
.ach1.get{
  @include bgp(-65,-21);
}
.ach2{
  @include wh(39,41);
  @include bgp(0,-68);
  &:hover{
    @include bgp(-65,-68);
  }
}
.ach2.get{
  @include bgp(-65,-68);
}
.ach3{
  @include wh(35,40);
  @include bgp(0,-118);
  .get,&:hover{
    @include bgp(-65,-118);
  }
}
.ach3.get{
  @include bgp(-65,-118);
}
.ach4{
  @include wh(38,36);
  @include bgp(0,-168);
  &:hover{
    @include bgp(-65,-168);
  }
}
.ach4.get{
  @include bgp(-65,-168);
}
.ach5{
  @include wh(41,38);
  @include bgp(0,-216);
  &:hover{
    @include bgp(-65,-216);
  }
}
.ach5.get{
  @include bgp(-65,-216);
}
.prev-btn,.next-btn{
  @extend %icon;
  @include wh(10,20);
  position:absolute;
  top:10px;
}
.prev-btn{
  left:0;
}
.next-btn{
  @include bgp(-14,0);
  right:0;
}


.ach-desc{
  z-index:99;
  display:none;
  @include wh(922,370);
  background:#fff;
  top: 98px;
  left: -80px;
  position: absolute;
  ul{
    padding-top:30px;
    li{
      .tit{
        text-align:center; font-size:30px;
      }
      dl{
        padding:75px 55px;
        dt{
          float:left;
          margin-right:40px;
        }
        dd{
          float:left;
          width:640px;
          h3{
            margin-bottom:30px;
          }
          p{
            font-size:16px;
          }
        }
      }
      display:none;
    }
    .curr{
      display:block;
    }
  }
}
.index-slider-box{
  @include wh(612,370);
  margin-top:20px;
  float:left;
}
.index-slider-wrap{
  @include wh(612,370);
  overflow:hidden;
  position:relative;
  li{
    position:relative;
  }

}
#index-slider .img-mask{
  position:absolute;
  background-color:$background;
  width:100%;
  height:0px;
  line-height:100px;
  left:0;
  bottom:0;
  display:none;
  text-align:center;
  font-size:20px;
}
#index-slider a:hover .img-mask{
  display:block;
  height:100px;
  -webkit-animation:slideup .5s ;
  -moz-animation:slideup .5s ;
  -ms-animation:slideup .5s ;
  -o-animation:slideup .5s ;
  animation:slideup .5s ;
}
@keyframes slideup
{
  from {height:0px;}
  to {height:100px;}
}

@-webkit-keyframes slideup /*Safari and Chrome*/
{
  from {height:0px;}
  to {height:100px;}
}
#index-slider li a{color:rgb(255,255,255);}
.tips-box{
  @include wh(232,339);
  margin-top:20px;
  padding:21px 22px 10px 35px;
  float:right;
  .tip-header>div{
    @include wh(3,15);
    background-color:$color;
    float:left;
    margin-top:5px;
  }
}
.tips-box h1{
  text-align:center;
  font-size:30px;
}
.tips-box h2{
  font-size:20px;
  padding-left:10px;
  padding-bottom:8px;
}
.tips-list1 {
  li{
    padding:6px 0;
    height:40px;
  }
  .tips-title{
    display:block;
    float:left;
    font-size:14px;
    width:178px;
    padding-right:14px;
  }
  .tips-num{
    float:left;
    width: 36px;
    text-align: right;
    font-size:16px;
    padding-top:2px;
  }
  .tips-split{
    @include wh(1,14);
    float:left;
    background-color:#868686;
    margin-top:4px;
  }
}
.tips-menu{
  @include wh(40,7);
  margin:0 auto;
  ul{
    overflow:hidden;
  }
  li{
    @include wh(7,7);
    background-color:#828282;
    cursor: pointer;
    float:left;
    margin:0 3px;
  }
  .tips-selected{
    background-color:$color;
  }
}
.right-wrap{
  h1{
    font-size:30px;
    padding:36px 0;
    text-align:center;
  }
}
.tabContain{
  width:384px;
}
.ranktabAll{
  padding:0 10px;
  height:690px;
}
.rankDiv{
  height:690px;
  ul{
    li{
      padding-bottom:10px;
    }
    p{
      float:left;
    }
    .rank-num{
      height:40px;
      width:30px;
      line-height: 40px;
      padding-right:24px;
      text-align:right;
    }
    .rank-name{
      width:115px;
      padding-left:28px;
      height:40px;
      line-height: 40px;
    }
  }

}
.clear{clear:both;}
.rank-score{
  @include wh(60,15);
  margin-top:12px;
  text-align: right;
}
.rank-top{
  @include wh(15,15);
  margin-left: 14px;
  margin-top: 12px;
  background:url("../images/rank-icon.png") no-repeat;
  background-position:0px -17px;
  background-size:15px;
}
.rank-bottom{
  @include wh(15,15);
  background:url("../images/rank-icon.png") no-repeat;
  background-position:0px 0px;
  background-size:15px;
  margin-left: 14px;
  margin-top: 12px;
}
.rank-center{
  @include wh(15,15);
  background:url("../images/rank-icon.png") no-repeat;
  background-position:0px -34px;
  margin-left: 14px;
  margin-top: 16px;
}
.rank-top20{
  @include wh(148,30);
  background-image:url("../images/top-rank.png");
  background-repeat:no-repeat;
  background-size:148px 12px;
  margin:0 auto 16px;
  font-size:14px;
  text-align:center;
  color:$color;
  background-position:center bottom;
  padding-top: 10px;
  cursor: pointer;
}
.rank-bg{
  @include wh(40,40);
  background:url("../images/head-logo.png") no-repeat right 0;
  background-size:40px;
}
.rank-new{
  @include wh(40,40);
  background:url("../images/head-logo.png") no-repeat right 0;
  background-size:40px;
}
.left-bottom{margin-top: 20px;}
.value-all{
  padding:36px 0 16px;
  h1{
   font-size:30px;
    text-align:center;
  }
}
.value-lists{
  @include wh(670,495);
  margin:40px auto 30px;
  overflow:hidden;
  .lists-ul{
    li{
      overflow:hidden;
    }
    p{
      float:left;
      font-size:16px;
    }
  }
  .value-date{
    @include wh(80,52);
    margin-right:48px;
    text-align:right;
  }
  .value-bg{
    @include wh(20,52);
    background:url("../images/list.png") no-repeat center top;
    background-size:20px 52px;
    margin-right: 48px;
  }
  .value-last{
    /*background:url("../images/value-last.png") no-repeat right top;
    background-size:20px 20px;*/
  }
  .value-score{
  font-weight:bold;
  .value-split{padding:0 15px;font-weight:normal;}
  }
}
.value-title{
  max-width:370px;
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.right-bottom{
  margin-top:20px;
  height: 660px;
}
.teams-lists{
  height:490px;
  padding:0 10px 0 24px;
}
.teams-ul{
  width:336px;
  padding-right:14px;
  height:490px;
  li{
    overflow:hidden;
    padding-bottom:8px;
  }
  p{
    float:left;
    font-size:16px;
  }
  .teams-num{text-align:center;padding-right:10px;}
  .teams-pic{
    @include wh(40,40);
    background:url("../images/teams-pic.jpg") no-repeat center;
    margin-right:10px;
  }
  .processDiv{
    float:left;
    position:relative;
    width:170px;
    margin: 12px 8px 12px 0;
  }
  .teams-process{
    height:20px;
    background:-moz-linear-gradient(45deg, rgba(26,212,202,0.8)0%, #63a1e1 60%,#747ee9 100%);
    background:-webkit-linear-gradient(45deg, rgba(26,212,202,0.8)0%, #63a1e1 60%,#747ee9 100%);
    background:-ms-linear-gradient(45deg, rgba(26,212,202,0.8)0%, #63a1e1 60%,#747ee9 100%);
    background:-o-linear-gradient(45deg, rgba(26,212,202,0.8)0%, #63a1e1 60%,#747ee9 100%);
    background:linear-gradient(45deg, rgba(26,212,202,0.8)0%, #63a1e1 60%,#747ee9 100%);
    position:absolute;
  }
  .process-100{width:100%;}
  .process-90{width:90%;}
  .process-80{width:80%;}
  .process-70{width:70%;}
  .process-60{width:60%;}
  .process-50{width:50%;}
  .process-40{width:40%;}
  .process-30{width:30%;}
  .process-20{width:20%;}
  .process-10{width:10%;}
  .teams-score{
    padding:12px 8px 10px 0;
    width:30px;
    text-align:right;
  }
  .teams-bg{
    @include wh(15,15);
    margin-top:12px;
    background:url("../images/rank-icon.png") no-repeat 0 -17px;
  }
}
.value-menu{
  @include wh(40,7);
  margin:0 auto;
  li{
    width: 7px;
    height: 7px;
    background-color: #828282;
    cursor: pointer;
    float: left;
    margin: 0 3px;
  }
  .value-selected{
    background-color: #13d4c8;
  }
}
.span-score{display:block;float:left;width:50px;}
@-moz-keyframes process-100       { 0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes process-90        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes process-80      { 0%  { width:0px;} 100%{ width:80%;}  }
@-moz-keyframes process-70   { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes process-60 { 0%  { width:0px;} 100%{ width:60%;} }
@-moz-keyframes process-50 { 0%  { width:0px;} 100%{ width:50%;} }
@-moz-keyframes process-40 { 0%  { width:0px;} 100%{ width:40%;} }
@-moz-keyframes process-30 { 0%  { width:0px;} 100%{ width:30%;} }
@-moz-keyframes process-20 { 0%  { width:0px;} 100%{ width:20%;} }
@-moz-keyframes process-10 { 0%  { width:0px;} 100%{ width:10%;} }

@-webkit-keyframes process-100       { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes process-90        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes process-80      { 0%  { width:0px;} 100%{ width:80%;}  }
@-webkit-keyframes process-70   { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes process-60 { 0%  { width:0px;} 100%{ width:60%;} }
@-webkit-keyframes process-50 { 0%  { width:0px;} 100%{ width:50%;} }
@-webkit-keyframes process-40 { 0%  { width:0px;} 100%{ width:40%;} }
@-webkit-keyframes process-30 { 0%  { width:0px;} 100%{ width:30%;} }
@-webkit-keyframes process-20 { 0%  { width:0px;} 100%{ width:20%;} }
@-webkit-keyframes process-10       { 0%  { width:0px;} 100%{ width:10%;}  }
.rankMenu{
  padding:36px 0 10px 0;
  overflow:hidden;
}
.menu-tabs{
  li{
    float:left;
    text-align:center;
    cursor:pointer;
  }
  p{
    float:left;
    font-size:16px;
  }
  .menu-title{
    padding:0 30px;
  }
  .tips-split{
   width:2px;
    height:14px;
    margin-top:2px;
    background-color:$color;
  }
}
.list-selected{
  color:$color;
}
.prevIcon{
  display:block;
  position:absolute;
  top:170px;
  left:6px;
  cursor:pointer;
  width: 22px;
  height: 34px;
  background: url(../images/star.png) no-repeat;
  z-index:10;
  background-position: -34px -68px;
}
.nextIcon{
  display:block;
  position:absolute;
  top:170px;
  right:6px;
  cursor:pointer;
  width: 22px;
  height: 34px;
  background: url(../images/star.png) no-repeat;
  z-index:10;
  background-position: -62px -68px;
}
